@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('http://fonts.cdnfonts.com/css/segoe-ui-variable');

/* Hide Scrollbar */
::-webkit-scrollbar {
    display: none;
  }

/* Segoe Font */
html{
    font-family: 'Segoe UI Variable', sans-serif;
}

/* fadein */
.fadein{
  animation: fadein 1s;
}
@keyframes fadein {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}